@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    background: url(img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;    
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navegador a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegador a::after {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -5px;
    transform-origin: right;
    transform: scalex(0);
    transition: transform .5s;
}

.navegador a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navegador .btnlogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s;
}

.navegador .btnlogin:hover {
    background: #fff;
    color: #162938;
}

.caixa-de-login {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}

.caixa-de-login.active-login {
    transform: scale(1);
}

.caixa-de-login.active {
    height: 500px;
}
.caixa-de-login .login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.caixa-de-login.active .login {
    position: absolute;
    transform: translateX(-400px);
}

.caixa-de-login.active .registro {
    position: absolute;
    transform: translateX(0px);
}

.caixa-de-login .registro {
    transition: transform .18s ease;
    transform: translateX(0);
}

.caixa-de-login .registro {
    position: absolute;
    transform: translateX(400px);
}

.caixa-de-login .forma-caixa-login {
    width: 100%;
    padding: 40px;
}

.icone-x {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #162938;
    top: 0px;
    right: 0px;
    font-size: 2em;
    cursor: pointer;    
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.forma-caixa-login h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px auto;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icone {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
    
}

.remember-forgot a {
    text-decoration: none;
    color: #162938;    
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    font-size: 1em;
    font-weight: 500;
    border: none;
    background: #162938;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.login-registro {
    text-align: center;
    color: #162938;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1em;    
}

.login-registro a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
}

.login-registro a:hover {
    text-decoration: underline;
    color: #fff;
}

